
#battle{
    height: 100vh;
    width:100%;   
    background-color: plum;
    display: flex;
    flex-direction: column;
}
#pie-header{
    height:20%;
    width:100%;
    /* background-image: linear-gradient(to right,#FF97C1,#9A1663); */
    background-color: #372948;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFECEF;
}
#dash{
    height: 100%;
    width: 100%;
    padding-top: 1vh;
}
#pie-select{
    height:30%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#backbtn{
float: right;
margin-right: 2%;

}
#dashbtn{
    background-color: blue;
    color:whitesmoke;
    border: whitesmoke;
}
#dashbtn:hover{
    background-color: green;
}
select{
    height: 5vh;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    font-size: 20px;
}
select:hover{
    background-color: blue;
    color: whitesmoke;
}
#mybtn{
    height: 5vh;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    font-size: 20px; 
}
#mybtn:hover{
    cursor: pointer;
    background-color: blue;
    color:white;
    border: 2px solid whitesmoke;
}
#pie-div{
    height:40%;
    width:100%;
    background-image: linear-gradient(to right,#FFF5E4,#FFCACA);
}
#card-div{
    height: 40%;
    width: 100%;
    background-image: linear-gradient(to right,#FFF5E4,#FFCACA);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card1{
height: 90%;
width:20%;
/* background-image: linear-gradient(to right,magenta,yellow); */
background-color: #251B37;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
font-size: 24px;
border-radius: 10px;
border: 2px solid #251B37;
color: #FFECEF;
box-shadow: 8px 8px 8px #251B37;
text-align: center;
}
.circle{
height: 70%;
width:20%;
border-radius: 50%;
background-color:#372948;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
font-size: 32px;
color: #FFECEF;
border: solid 2px #251B37;
box-shadow: 8px 8px 8px #251B37;
text-align: center;
}